body {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;  
    font-size: 12px; 
    background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
}
body.image-back-body {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;  
    font-size: 12px; 
    background: url(http://localhost/eclectica/imagenes/background/muresco.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
Table.tablaGral{
    /*background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);*/
    width:1190px;
    border-spacing: 5px; /* cellspacing */
    padding: 5px;/* cellpadding */
}
.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48; text-align: center}
hr {
    color: #1E90FF; 
    background-color: #1E90FF; 
    height: 2px; 
    border: 0px;
}
img {border: 0;}		
input[type=search] {
    font-weight: bolder;
    height: 30px;
    width: 200px;
    background: gray;
    color: DarkBlue;
}
.no {
    display: none!important;
}
/*div.error { display: none; }*/

input {	border: 1px solid black; }
select{
    border: 1px solid black;
}
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
select.error { border: 1px dotted red; }
#formPrendas label { width: 160px;}
#formPrendas label.error, #formPrendas input.submit {margin-left: 13px; color:red; text-align: right	; }
#formProveedor label { width: 50px;}
#formProveedor label.error, #formProveedor input.submit {width: 170px; margin-left: 23px; color:red; text-align: right; }
#formTela label { width: 50px;}
#formTela label.error, #formTela input.submit {width: 150px;color:red; text-align: right; }
#formColor label { width: 50px;}
#formColor label.error, #formColor input.submit {width: 150px;color:red; text-align: right; }
#formMarca label { width: 50px;}
#formMarca label.error, #formMarca input.submit {width: 150px;color:red; text-align: right; }
#formTalle label { width: 50px;}
#formTalle label.error, #formTalle input.submit {width: 150px;color:red; text-align: right; }
#formEstampado label { width: 50px;}
#formEstampado label.error, #formEstampado input.submit {width: 150px;color:red; text-align: right; }
#formEstacion label { width: 50px;}
#formEstacion label.error, #formEstacion input.submit {width: 150px;color:red; text-align: right; }
#formTipoVenta label { width: 50px;}
#formTipoVenta label.error, #formTipoVenta input.submit {width: 150px;color:red; text-align: right; }
#formCliente label { width: 50px;}
#formCliente label.error, #formCliente input.submit {width: 170px;color:red; text-align: right; }
#formEmpresa label { width: 50px;}
#formEmpresa label.error, #formEmpresa input.submit {width: 150px;color:red; text-align: right; }

#formDinamico label.error, #formDinamico input.submit {width: 70px;color:red; text-align: right; }

div.scrol{
    overflow: auto;
     overflow-x: hidden; 
    height: 150px;
}
div.scrol1{
    overflow: auto;
    overflow-x: hidden; 
    height: 300px;
    padding:10px; 
    
}
div.scrolPrv{
    overflow: auto;
     overflow-x: hidden; 
    height: 165px;
    width: 480px;

}
table.tabla{
    border-spacing: 5px; /* cellspacing */
    padding: 15px;/* cellpadding */
    width:1050px;	
    margin: 5px;
    text-align: center;
}
Table.formu,Table.formu td{
    border: 1px solid;
}

Table.formu tr:not(:first-child):hover {
    background:#aaFFFF;
}

Table.formu thead {
    font-weight: bold;
    color:#fff;
    background-color: #444;
    border-bottom:1px #000 solid;
    text-align:left;
}
.formEmpresa input[type=file] {
    display: inline;
}

label.ccLabel {
    width: 62px;
}
