/*Empieza Css Formulario Caracteristicas*/
.Caracteristicas{
padding-bottom: 10px;

background-color: #15428b;	
}

table.tablaCaracteristicas{
border-spacing: 5px; /* cellspacing */
padding: 5px;/* cellpadding */
width:1150px;	
margin: 0 auto;
text-align: center;

}

Table.formuCaracteristicas,Table.formuCaracteristicas td{
	border: 1px solid;
}

Table.formuCaracteristicas tr:not(:first-child):hover {
	background:#aaFFFF;
}

Table.formuCaracteristicas tr:first-child {
	font-weight: bold;
	color:#fff;
	background-color: #444;
	border-bottom:1px #000 solid;
	text-align:left;
}

.buttonCaracteristicas{
height: 30px;
font-size: 15px; font-weight: bold; width: 100px; color:black;
padding-left: 20px; cursor:hand; cursor:pointer;
margin-left:5px; margin-right:5px; outline-width:0px;
background-position:5px 5px; 
text-decoration: none; 
background-repeat: no-repeat; 
border-radius: 20px; 
border:1px solid #555555;
background-image: url(../imagenes/iconos/add.png	);	
}
.buttonLimpiar {
height: 30px;
font-size: 15px; font-weight: bold; width: 140px; color:black;
cursor:hand; cursor:pointer;
margin-left:5px; margin-right:5px; outline-width:0px;
background-position:5px 5px; 
text-decoration: none; 
background-repeat: no-repeat; 
border-radius: 20px; 
border:1px solid #555555;	
}
.no {
	display: none;
}
.buttonCaracteristicas:hover{

border:none;
}
.textCaracteristicas{
  height: 20px; background-color: #cccccc;
 width: 100px;
  font-size: 11px; font-weight: bold; 
  cursor:hand; cursor:pointer;
 
}


div.scrolCaracteristicas{
	overflow: auto;
	height: 150px;

}
/*Termina Css Formulario Caracteristicas*/


