/*Empieza Css Formulario Prov*/
.buttonLimpiar{
	height: 30px;
font-size: 15px; font-weight: bold; width: 130px; color:black;
cursor:hand; cursor:pointer;
margin-left:5px; margin-right:5px; outline-width:0px;
background-position:5px 5px; 
text-decoration: none; 
background-repeat: no-repeat; 
border-radius: 20px; 
border:1px solid #555555;
}
.no {
	display: none;
}
.Prov{
padding-bottom: 10px;

background-color: #15428b;	
}

table.tablaProv{
border-spacing: 5px; /* cellspacing */
padding: 5px;/* cellpadding */
border: solid; 
	
margin: 0 auto;
text-align: center;
}

Table.formuProv,Table.formuProv td{
	border: 1px solid;
}

Table.formuProv tr:not(:first-child):hover {
	background:#aaFFFF;
}

Table.formuProv tr:first-child {
	font-weight: bold;
	color:#fff;
	background-color: #444;
	border-bottom:1px #000 solid;
	text-align:left;

}
.buttonProv:disabled{
height: 30px;
font-size: 15px; font-weight: bold; width: 100px; color:#333333	;
background-color:#555555;
padding-left: 20px; cursor:hand; cursor:pointer;
margin-left:5px; margin-right:5px; outline-width:0px;
background-position:5px 5px; 
text-decoration: none; 
background-repeat: no-repeat; 
border-radius: 20px; 
border:1px solid #555555;

}
.buttonProv:enabled {
height: 30px;
font-size: 15px; font-weight: bold; width: 100px; color:black;
padding-left: 20px; cursor:hand; cursor:pointer;
margin-left:5px; margin-right:5px; outline-width:0px;
background-position:5px 5px; 
text-decoration: none; 
background-repeat: no-repeat; 
border-radius: 20px; 
border:1px solid #555555;
background-image: url(../imagenes/iconos/add.png	);	
}
.buttonProv:hover:enabled{

border:none;
}
.textProv{
 height: 20px; 
 background-color: #ProvProvProv;
 width: 120px;
 font-size: 11px; font-weight: bold; 
 cursor:hand; cursor:pointer;
 
}


div.scrolProv{
	overflow: auto;
	height: 170px;
	border: solid;
	width: 485px;
}
/*Termina Css Formulario Prov*/