body {font-family: Verdana, Arial; font-size: 12px;  background-color:#F0F0F0;}

table {background-color: #cccccc;}
a {
	text-decoration: none;	
	font-size: 13	px;
	color:#333333;
	background: inherit;	

a:hover {
		color:#333333;
		background: inherit;	
		font-size: 15px;
		text-decoration:none;	
		}		}	
p {margin-top: 10px; margin-bottom:5px;}
h1 {color: #15428B; margin-top: 10px; margin-bottom:5px;}
h2 {color: #15428B; margin-top: 10px; margin-bottom:5px; font-size: 12px;}
h3 {color: #15428B;}
hr {color: #1E90FF; background-color: #1E90FF; height: 2px; border: 0;}
input, select {font-family: Verdana, Arial;}
img {border: 0;}

td.tabla_datos {background-color: #FFFFFF; padding: 10px;}
td.tabla_titulos {background-color: #E1EEFF; padding: 10px; width: 800px; font-weight: bold; }
td.tabla_critica {background-color: #7CA0C7; padding: 10px;}
td.tabla_critica_titulos {background-color: #f5f5f5; padding: 10px; width: 800px; font-weight: bold;}

table.tabla_datos {border-collapse: collapse; }

div.msg_exit p{
	margin:0px 0px 0px 0px;
	color:#EE2037;
	
	padding-left:1px;
	padding-bottom:4px;
	font-size:11px;
	background-position:0px 0px;
	font-family : "Tahoma, Arial;
}

div.error_dato p{
	margin:0px 0px 0px 0px;
	color:#EE2037;
	padding-left:20px;
	padding-bottom:4px;
	font-size:12px;
	background:url("../imagenes/iconos/cross111.png") no-repeat left top;
	background-position:0px 0px;
	font-family : "Trebuchet MS", Tahoma, Arial;
}
div.msg_user a {
	text-decoration: none;	
	font-size: 12px;
	color:#333333;
	background: inherit;	

		}	
table.msg_user  {text-align:right; vertical-align: top;}
div.dato_ok p{
	margin:0px 0px 0px 0px;
	color:#EE2037;
	padding-left:20px;
	padding-bottom:4px;
	font-size:12px;
	background:url("accept.png") no-repeat left top;
	background-position:0px 0px;
	font-family : "Trebuchet MS", Tahoma, Arial;
}


.btn{
  height: 28px; background-color: #f5f5f0; border-bottom: 1px solid #AAAAAA;
  border-right:1px solid #AAAAAA; border-top:0px; border-left:0px;
  font-size: 12px; font-weight: bold; color:black;padding-left: 20px; background-repeat: no-repeat;
  cursor:hand; cursor:pointer; margin-left:5px; margin-right:5px;outline-width:0px;
  background-image: url(../imagenes/iconos/add.png);
  background-position:5px 5px;
}
.btnstandard{
  height: 28px; background-color: #cccccc;
  font-size: 11px; font-weight: bold; 
  cursor:hand; cursor:pointer;
 
}
.nuevostandard{
  height: 20	px; background-color: #cccccc;
 
  font-size: 11px; font-weight: bold; 
  cursor:hand; cursor:pointer;
 
}
.btn1{
 height: 28px; background-color: #f5f5f0; border-bottom: 1px solid #AAAAAA;
  border-right:1px solid #AAAAAA; border-top:0px; border-left:0px;
  font-size: 13px; font-weight: bold;  color:black;padding-left: 20px; background-repeat: no-repeat;
  cursor:hand; cursor:pointer; margin-left:5px; margin-right:5px;outline-width:0px;
  background-image: url(../imagenes/iconos/arrow_right.png);
   background-position:5px 5px; width: 80px;
}

.btn:hover{
font-size: 11px; font-weight: bold; 
   height: 28px; width: 100px;	background-color: #E1EEFF; border-bottom: 1px solid #555555;
  border-right:1px solid #555555; border-top:0px; border-left:0px; color:black; background-image: url(btns.png);
  padding-left: 20px; background-repeat: no-repeat; cursor:hand; cursor:pointer;
  margin-left:5px; margin-right:5px; outline-width:0px;
  background-image: url(../imagenes/iconos/accept.png	);
   background-position:5px 5px; 
}
.botones{
height: 33px;
font-size: 15px; font-weight: bold; width: 150px; color:black;
padding-left: 20px; cursor:hand; cursor:pointer;
  margin-left:5px; margin-right:5px; outline-width:0px;
   background-position:5px 5px; 
text-decoration: none; 
background-repeat: no-repeat; 
border-radius: 20px; 
border:1px solid #555555;
background-image: url(../imagenes/iconos/add.png	);	
}
.botones:hover{

border:none;
}

.btn1:hover{
font-size: 13px; font-weight: bold; 
   height: 28px;width: 100px; background-color: #E1EEFF; border-bottom: 1px solid #555555;
  border-right:1px solid #555555; border-top:0px; border-left:0px; 	color:black; background-image: url(btns.png);
  padding-left: 20px; background-repeat: no-repeat; cursor:hand; cursor:pointer;
  margin-left:5px; margin-right:5px; outline-width:0px;
  background-image: url(../imagenes/iconos/accept.png	);
   background-position:5px 5px; 
}		

.btnImprime	{
font-size: 11px; font-weight: bold; 
 height: 28px; background-color: #f5f5f0; border-bottom: 1px solid #AAAAAA;
  border-right:1px solid #AAAAAA; border-top:0px; border-left:0px;
  font-size: 12px; font-weight: bold;  color:black;padding-left: 20px; background-repeat: no-repeat;
  cursor:hand; cursor:pointer; margin-left:5px; margin-right:5px;outline-width:0px;
  background-image: url(../imagenes/iconos/print.png);
   background-position:5px 5px; 
}
.btnImprime:hover{
font-size: 11px; font-weight: bold; 
   height: 28px; width: 100px; background-color: #E1EEFF; border-bottom: 1px solid #555555;
  border-right:1px solid #555555; border-top:0px; border-left:0px;
  color:black; background-image: url(btns.png);
  padding-left: 20px; background-repeat: no-repeat; cursor:hand; cursor:pointer;
  margin-left:5px; margin-right:5px; outline-width:0px;
   background-image: url(../imagenes/iconos/print.png);
   background-position:5px 5px 5px 5px; 
 }
 
 
 #Area_conenido{ 
	overflow: auto;
		
	height: 650px;
}

.formu tr:not(:first-child):hover {
	background:#E0FFFF;
}


.formu tr:first-child {
	font-weight: bold;
	color:#fff;
	background-color: #444;
	border-bottom:1px #000 solid;
	text-align:left;
}

